/*   Theme default css */
@import url('https://fonts.cdnfonts.com/css/din-alternate');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* ======font family=========
font-family: 'DIN Alternate', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Proxima-Nova';                 
*/

@font-face {
    font-family: 'DIN-Alternate-bold';
    font-style: normal;
    font-weight: normal;
    src: local('DIN Alternate Bold'), url('../font-family/DINAlternate-Bold.woff') format('woff');
}


@font-face {
    font-family: 'Proxima-Nova';
    src: url('../font-family/ProximaNova-Bold.woff2') format('woff2'),
        url('../font-family/ProximaNova-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima-Nova';
    src: url('../font-family/ProximaNova-Semibold.woff2') format('woff2'),
        url('../font-family/ProximaNova-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima-Nova';
    src: url('../font-family/ProximaNova-Regular.woff2') format('woff2'),
        url('../font-family/ProximaNova-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

